services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini
      - ./grafana/data:/var/lib/grafana
    networks:
      - monitoring
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus/data:/prometheus
    networks:
      - monitoring
    restart: unless-stopped

  blackbox_exporter:
    image: prom/blackbox-exporter:latest
    container_name: blackbox_exporter
    volumes:
      - ./blackbox/blackbox.yml:/etc/blackbox_exporter/config.yml
      - ./blackbox/data:/data
    networks:
      - monitoring
    restart: unless-stopped

  xray-checker:
    image: kutovoys/xray-checker
    container_name: xray-checker
    environment:
      - SUBSCRIPTION_URL=${XRAY_SUBSCRIPTION_URL}
    volumes:
      - ./xray-checker/data:/data
    networks:
      - monitoring
    restart: unless-stopped

  caddy:
    image: caddy:latest
    container_name: caddy
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - ./caddy/data:/data
      - ./caddy/logs:/var/log/caddy
    networks:
      - monitoring
    restart: unless-stopped

networks:
  monitoring:
    driver: bridge